config SAA716X_CORE
	tristate "SAA7160/1/2 PCI Express bridge based devices"
	depends on PCI && I2C
	default m

config DVB_SAA716X_BUDGET
	tristate "SAA7160/1/2 based Budget PCIe cards (DVB only)"
	depends on SAA716X_CORE && DVB_CORE
	select I2C_MUX
	select DVB_SI2168
	select MEDIA_TUNER_SI2157
	default m
